<% layout('/layouts/boilerplate')%>
    <div class="container mt-2 w-50">
        <div class="ratio ratio-1x1 mb-4">
            <img src="<%= album.image %>" class="img-thumbnail detail-img" alt="<%= album.image %>">
        </div>

        <div class="text-center d-block-flex align-content-center">
            <h1>
                <%= album.title %>
            </h1>

            <p><strong>Artist: </strong>
                <%= album.artist %>
            </p>

            <p class="text-capitalize"><strong>Genre: </strong>
                <%= album.genre %>
            </p>

            <p><strong>Year released: </strong>
                <%= album.year %>
            </p>
            <a href="/all-albums" class="btn btn-secondary btn-sm" role="button">Back to albums</a>
        </div>

    </div>